<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SINA_APP_KEY" value="1551059632"/>
    <add key="SINA_APP_SECRET" value="2740eca8540868d30546192fa4053ddc"/>
    <add key="SINA_ACCESS_TOKEN" value ="068a076663CrQah1GY5sQ30amy607559"/>
    
    <add key="KINGSOFT_APP_KEY" value="0"/>
    <add key="BAIDU_APP_KEY" value="0"/>
  </appSettings>
</configuration>