<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<add key ="LoadCloudDiskModules" value="[Sina.SinaDiskApi][Baidu.BaiduDiskApi][Kingsoft.KingsoftDiskApi]"/>-->
  <appSettings>
    <!--<add key ="LoadCloudDiskModules" value="[Kingsoft.KingsoftDiskAPI]"/>-->
    <add key ="LoadCloudDiskModules" value="[Sina.SinaDiskAPI][Kingsoft.KingsoftDiskAPI]"/>

    <!-- sina token第一次获取方法:浏览器访问 https://auth.sina.com.cn/oauth2/authorize?client_id=1551059632&redirect_uri=http://localhost/&response_type=token -->
    <add key="SINA_APP_KEY" value="1551059632"/>
    <add key="SINA_APP_SECRET" value="2740eca8540868d30546192fa4053ddc"/>
    <add key="SINA_ACCESS_TOKEN" value ="baec8c6663CrQah1GY5sQ30amy68c15c"/>
    <add key="SINA_DISK_ROOT_URL" value ="https://api.weipan.cn"/>

    <add key="KINGSOFT_APP_KEY" value="xcAszKHTNxjorHYx"/>
    <add key="KINGSOFT_APP_SECRET" value="7CuzHS0kCJMo42J0"/>
    <add key="KINGSOFT_ACCESS_TOKEN" value="02c7040375b838f5d63c9f50"/>
    <add key="KINGSOFT_ACCESS_TOKEN_SECRET" value="f32ee848bd1f4d94a768733fce160e1c"/>
  </appSettings>
</configuration>